[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u brains.py
WorkingDirectory=/home/pi/Botty-5000
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target